﻿@model Enterprise___Assignment3.Models.User
@using Enterprise___Assignment3.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>LoginForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>User Login</h4></div>
        <div class="panel-body" style="width:500px; margin:auto" >
          <h4 style="color:red">@Html.Raw(ViewBag.FailedLogin)</h4>
            
            @using (Html.BeginForm("Index","UserAccounts"))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Username:</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" name="submit"
                           value="Manager Login" />
                    <input class="btn btn-success" type="submit" name="submit"
                           value="User Login" />
                </div>
            }
        </div>
    </div>
</body>
</html>
