﻿@model Enterprise___Assignment3.Models.Invoice
@using Enterprise___Assignment3.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>LoginForm</title>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  });
  $(function () {
      $("#datepicker1").datepicker();
  });
    </script>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Create Invoice</h4></div>
        <div class="panel-body" style="width:500px; margin:auto">

            @using (Html.BeginForm("AddInvoice", "Invoice"))
            {
                @Html.ValidationSummary()
                if (@Model != null)
                {
                    <div class="form-group">
                        <label>Client Name:</label>
                       
                        @Html.TextBoxFor(x => x.InvoiceNumber, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                }

                <div class="form-group">
                    <label>Client Name:</label>
                    @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Client Address:</label>
                    @Html.TextBoxFor(x => x.ClientAddress, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Date of Shipment:</label>
                    @Html.TextBoxFor(x => x.DateofShipment, new { @class = "form-control", @id = "datepicker" })
                </div>

                <div class="form-group">
                    <label>Payment Due Date:</label>
                    @Html.TextBoxFor(x => x.PaymentDueDate, new { @class = "form-control", @id = "datepicker1" })
                </div>

                <div class="form-group">
                    <label>Product Name:</label>
                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Currency?</label>
                    @Html.DropDownListFor(x => x.Currency, new[] {
            new SelectListItem() {Text = "CAD",
            Value = Currency.CAD.ToString()},
            new SelectListItem() {Text = "US",Value = Currency.US.ToString()},
            new SelectListItem() {Text = "EUR",Value = Currency.EUR.ToString()},
             }, "Choose an option", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Unit Price:</label>
                    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Product Quantity:</label>
                    @Html.TextBoxFor(x => x.ProductQuantity, new { @class = "form-control" })
                </div>
                <div class="text-center">
                    @if (@Model != null)
                {
                        <h3>Subtotal = @Model.TotalPrice</h3>
                        <h3>Tax = @{double t = Model.TotalPrice * .1;}@t</h3>
                        <h3>Total =@{double Total = (Model.TotalPrice + (Model.TotalPrice*0.1));} @Total </h3>
                        <h3>Subtotal = @Model.TotalPrice</h3>
                        <input class="btn btn-success" type="submit" name="submit"
                               value="Save Invoice" />
                            }
                            else
                            {

                                <input class="btn btn-success" type="submit" name="submit"
                                       value="Add Invoice" />
                            }


                    <input class="btn btn-success" type="submit" name="submit"
                           value="Back" />
                </div>

                            }
        </div>
    </div>
</body>

</html>
